*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.entire-page{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    background-image: linear-gradient(to right,black, rgba(255, 21, 0, 0.534), #ff8d8d, rgba(255, 0, 0, 0.534), black);
}

.tutorial-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    margin-left: 30px;
}

.tutorial-card {
    margin-top: 2rem;
    background-color: rgba(255, 0, 0, 0.313);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgb(255, 255, 255);
    overflow: hidden;
    width: 250px;
    text-align: center;
    padding: 25px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.tutorial-card:hover {
    transform: scale(1.05);
}

.tutorial-thumbnail {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #ccc;
    color: white;
}

.tutorial-card h2 {
    font-size: 1.5rem;
    margin: 10px 0;
    color: white;
    font-family: "Jersey";
    letter-spacing: 2px;
}
 

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.001);
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    height: 75px;
    width: 100%;
    margin-bottom: 1rem;
}

.navbar .navbar-left h1{
    margin: 20px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    font-size: 24px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px hsl(0, 0%, 0%);
    font-family: "Jersey";
}

.navbar .navbar-center ul{
    display: flex;
}

.navbar .navbar-center ul li{
    cursor: pointer;
    font-family: "Jersey";
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 1px;
    list-style: none;
    color: rgb(244, 242, 242);
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    text-shadow: 2px 2px 2px  #0b0b0b;
}

.navbar .navbar-right .items-right{
    display: flex;
}

.navbar .navbar-right .items-right button{
    margin: 10px;
    padding: 5px 12px;
    font-family: "Jersey";
    font-size: 20px;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    color: rgb(248, 248, 248);      
    border: 1px solid rgb(0, 0, 0);
    border-radius: 12px;
    box-shadow: 0px 0px 20px 4px hsl(0, 0%, 53%);
    text-shadow: 2px 2px 2px  #1e1e1e;
}

.navbar .navbar-right .items-right button a{
    text-decoration: none;
    color: rgb(248, 248, 248);
}

.navbar .navbar-right .items-right i{
    cursor: pointer;
    display: block;
    margin-right: 30px;
    margin-top: 17px;
    margin-left: 20px;
    font-size: 18px;
    color: rgb(170, 170, 170);
}

.navbar .navbar-right i{
    display: none;
}

.restPage{
    display: none;
}

.h1{
    text-align: center;
    font-size: 60px;
    font-family: Jersey;
    color: white;
    text-shadow: -2px -1px 0 black,
                         -2px 1px 0 black,
                         2px -1px 0 black,
                         2px 1px 0 black;
    padding: 3rem;
    letter-spacing: 3px;
}

.title{
    width: 100%;
    background-image: linear-gradient(to right, rgba(255, 39, 39, 0.427),white,  rgba(255, 39, 39, 0.427));
}

@font-face {
    font-family: Jersey;
    src: url(../../assets/fonts/Jersey25-Regular.ttf);
}

@media screen and (max-width: 800px){
    .navbar-center, .navbar-right .items-right button {
        display: none;
    }

    .navbar .navbar-right .items-right .game {
        display: none;
    }

    .navbar .navbar-right .items-right .search {
        display: none;
    }

    .navbar .navbar-right .game {
        display: block;
        font-size: 20px;
        height: 20px;
        width: 20px;
        background-color: #000;
        color: rgb(185, 230, 210);
        text-shadow: 2px 2px 2px #4d4d4d;
        cursor: pointer;
        margin-right: 40px;
    }

    .navbar .navbar-right .icons {
        display: flex;
        flex-direction: row;
    }

    .navbar .navbar-right .search {
        display: block;
        font-size: 20px;
        height: 20px;
        width: 20px;
        background-color: brown;
        color: rgb(185, 230, 210);
        text-shadow: 2px 2px 2px #4d4d4d;
        cursor: pointer;
        margin-right: 80px;
    }

    .navbar .navbar-right .game:hover {
        color: rgb(237, 244, 244);
    }

    .navbar .navbar-right .search:hover {
        color: rgb(237, 244, 244);
    }
    
    .restPage.active{ 
        display: block;
        background-image: linear-gradient(to right,black, rgb(182, 231, 223), #343333, rgb(255, 211, 211), black);
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
    }
    
    .restPage {
       display: none;
    }
    
    .restPage ul {
        justify-content: space-between;
    }
    
    .restPage ul li{
        margin-bottom: 8px;
        list-style: none;
        font-family: Tahoma;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 24px;
        color: white;
        text-shadow: 2px 2px 2px #000;
        justify-content: center;
        align-items: center;
        padding: 0px 20px;
    }
    
    .restPage button{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 5px 0px;
        width: 180px;
        padding: 2px 9px;
        border-radius: 12px;
        border: none;
        font-family: Tahoma;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 24px;
        background-image: linear-gradient(pink, lightblue);
        box-shadow: 0px 1px 0px 1px #434141;
        text-shadow: 2px 2px 2px  #000;
    }

    .restPage button a{
        color: white;
        text-decoration: none;
    }
}